[package]
name = "kickstart"
authors = ["Vincent Prouillet <hello@vincentprouillet.com>"]
description = "A simple way to get started with a project by scaffolding from a template powered by the tera engine"
edition = "2018"
license = "MIT"
keywords = [
    "rust",
    "tera",
    "scaffolding",
    "templating",
    "generator",
    "boilerplate",
]
version = "0.3.0"

[dependencies]
clap = "2"
glob = "0.3"
memchr = "2"
regex = "1"
serde = { version = "1", features = ["derive"] }
tera = "1"
term = "0.7"
toml = "0.5"
walkdir = "2"

[dev-dependencies]
tempfile = "3"

[badges]
maintenance = { status = "actively-developed" }
